<div class="section home-top">
    <img class="home-top-banner" src="<%= asset_path('TeaSquare1.png') %>"/>
    <div class="center">
        <h1 class="home-top-header">Tea-infused bites of <span class="darken">Natural Energy.</span></h1>
    </div>
</div>

<div class="section">
    <div class="center">
        <h2 class="section-header">
            <span class="section-header-text">What are Tea Squares?</span>
            <span class="section-header-underline"></span>
        </h2>
    </div>
</div>
