<div class="section home-top">
    <img class="home-top-banner" src="<%= asset_path('TeaSquare1.png') %>"/>
    <div class="center">
        <h1 class="home-top-header">Tea-infused bites of <span class="darken">Natural Energy.</span></h1>
    </div>
</div>

<div class="section">
    <div class="center">
        <h2 class="section-header">
            <span class="section-header-text">What are Tea Squares?</span>
            <span class="section-header-underline"></span>
        </h2>
        <p class="section-text">
            TeaSquares are bite-sized snacks infused with the natural energy of tea leaves. Each Tea Square is handmade
            using raw and organic ingredients that are healthy and delicious. We slow brew each  Tea Square in small
            batches for 8-hours to release the richly decadent flavors like our Madagascan vanilla bean Tea Square.
        </p>
    </div>
</div>

<div class="section-divider"></div>

<div class="section">
    <div class="center">
        <h2 class="section-header">
            <span class="section-header-text">What are Tea Squares?</span>
            <span class="section-header-underline"></span>
        </h2>
        <p class="section-text">
            TeaSquares are bite-sized snacks infused with the natural energy of tea leaves. Each Tea Square is handmade
            using raw and organic ingredients that are healthy and delicious. We slow brew each  Tea Square in small
            batches for 8-hours to release the richly decadent flavors like our Madagascan vanilla bean Tea Square.
        </p>
    </div>
</div>
